/* Header */

header {
  position: fixed;
  top: 0;
  background-color: #100004;
  width: 100%;
  height: 3vh;
  line-height: 0;
  padding: 2vh;
  font-size: small;
  color: goldenrod;
}

/* Body */

body {
  background-color: #400013;
  margin: 0;
}

div.info-block {
  background-color: rgb(245, 239, 220);
  border: 2px solid darkblue;
  display: inline-block;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border-radius: 1.5vw;
  height: 87vh;
  position: fixed;
  top: 8vh;
}

div.info-block.result {
  right: 0;
  width: 15vw;
}

div.info-block.selector {
  width: calc(78vw - 8px);
  display: flex;
  flex-direction: column;
}

div#option-list {
  box-sizing: border-box;
  width: 100%;

  flex: 1;
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  grid-auto-rows: 1fr;

  gap: 1vh 1vw;
  padding: 1vh 1vw;
}

div.option {
  background-color: darkblue;
  color: white;
  border: 5px solid #000033;
  min-height: 15vh;
  padding: 1vh 1vw;
  border-radius: 1vw;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

}

div.option:hover {
  background-color: darkblue;
  color: white;
  border: 5px solid #000033;

  transform: scale(1.03);
  outline: 4px solid goldenrod;

  cursor: pointer;
}

div.option>.option-text {
  flex: 1;
  overflow-y: hidden;
  min-height: 0;
  word-break: break-word;
  position: relative;
}

div.option>.option-text>a.read-more {
  display: none;
  color: lightblue;
  background-color: darkblue;
  border-bottom: 1px solid lightblue;
  line-height: 0.7rem;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: zoom-in;
}

div.option>.option-text.clipped>a.read-more {
  display: inline-block;
}